<div class="container-fluid">
  <div class="card">
    <div class="row product-page-main card-body">
      <div class="col-xl-8">
        <section>
          <ks-carousel [id]="101" [images]="imagesRect"> </ks-carousel>
        </section>
      </div>
      <div class="col-xl-8">
        <div class="product-page-details product-right mb-0" *ngIf="productDetail">
          <h2>{{ productDetail.name }}</h2>
          <ngb-rating class="ratings-sec" [(rate)]="currentRate">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3"><i class="fa fa-star"></i>
              </span>
            </ng-template>
          </ngb-rating>
          <hr />
          <h6 class="product-title">product details</h6>
          <p class="mb-0" [innerHTML]="sanitizeHtml(productDetail.description)"></p>
          <div class="product-price digits mt-2">
            <h3>
              {{
              productDetail.discountPrice > 0
              ? (productDetail.discountPrice | currency)
              : (productDetail.originalPrice | currency)
              }}
              <del *ngIf="productDetail.discountPrice > 0">
                {{ productDetail.originalPrice }}</del>
            </h3>
          </div>
          <ul class="color-variant">
            <li class="bg-light0"></li>
            <li class="bg-light1"></li>
            <li class="bg-light2"></li>
          </ul>
          <hr />
          <ng-template #content let-modal>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Sheer Straight Kurta
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyloaded" />
            </div>
          </ng-template>
          <div class="size-box">
            <ul>
              <li class="active"><a href="javascript:void(0)">s</a></li>
              <li><a href="javascript:void(0)">m</a></li>
              <li><a href="javascript:void(0)">l</a></li>
              <li><a href="javascript:void(0)">xl</a></li>
            </ul>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>