.table-container {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  
    .table-row {
      display: table-row;
  
      &:nth-child(even) {
        background-color: #f2f2f2;
      }
  
      .table-cell {
        display: table-cell;
        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }
  
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .col-sm-9 {
        flex: 1;
        margin-top: 1rem;
    }
  
    .col-sm-3 {
      flex-shrink: 0;
      text-align: right;
    }
  }
  