<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ "ManageOrder" | translate }}</h5>
        </div>
        <div class="card-body">
          <div class="modal fade modal-lg" style="width: 1200px">
            <ng-template #content let-modal>
              <div class="modal-header">
                <h5 class="modal-title f-w-600" id="exampleModalLabel">
                  {{ "OrderDetails" | translate }}
                </h5>
                <button type="button" class="close btn btn-primary w-fit-content align-self-end ml-auto"
                  aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="needs-validation" [formGroup]="ordersForm" novalidate>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" sortable="order_id" (sort)="onSort($event)" style="width: 150px">
                          {{ "Order ID" | translate }}
                        </th>
                        <th scope="col" sortable="product" (sort)="onSort($event)" style="width: 200px">
                          {{ "Image" | translate }}
                        </th>
                        <th scope="col" sortable="payment_status" (sort)="onSort($event)">
                          {{ "PaymentStatus" | translate }}
                        </th>
                        <th scope="col" sortable="paymeny_method" (sort)="onSort($event)">
                          {{ "PaymentMethod" | translate }}
                        </th>
                        <th scope="col" sortable="order_status" (sort)="onSort($event)">
                          {{ "OrderStatus" | translate }}
                        </th>
                        <th scope="col" sortable="date" (sort)="onSort($event)">
                          {{ "Date" | translate }}
                        </th>
                        <th scope="col" sortable="total" (sort)="onSort($event)">
                          {{ "Total" | translate }}
                        </th>
                        <th scope="col" sortable="adress" (sort)="onSort($event)">
                          {{ "ShippingAddress" | translate }}
                        </th>
                        <th scope="col" sortable="update_status">
                          {{ "UpdateOrderStatus" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">{{ selectedOrder._id }}</th>
                        <td>
                          <span *ngFor="let image of selectedOrder.cart[0].images">
                            <img [src]="image.url" class="img-30 me-2" />
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-success">{{
                            selectedOrder.paymentInfo?.status
                            }}</span>
                        </td>
                        <td>{{ selectedOrder.payment_method }}</td>
                        <td>
                          <span class="badge badge-secondary">
                            {{ selectedOrder.status }}
                          </span>
                        </td>
                        <td>{{ selectedOrder.paidAt | date : "longDate" }}</td>
                        <td>{{ selectedOrder.totalPrice | currency }}</td>
                        <td>
                          {{ selectedOrder.shippingAddress.address1 }},
                          {{ selectedOrder.shippingAddress.address2 }},
                          {{ selectedOrder.shippingAddress.city }},
                          {{ selectedOrder.shippingAddress.zipCode }},
                          {{ selectedOrder.shippingAddress.country }}
                        </td>
                        <td>
                          <select [formControl]="ordersForm.controls['status']">
                            <option value="Processing">
                              {{ "Processing" | translate }}
                            </option>
                            <option value="Transferred to delivery partner">
                              Transferred to delivery partner
                            </option>
                            <option value="Shipping">
                              {{ "Shipping" | translate }}
                            </option>
                            <option value="Received">
                              {{ "Received" | translate }}
                            </option>
                            <option value="On the way">
                              {{ "On the way" | translate }}
                            </option>
                            <option value="Delivered">
                              {{ "Delivered" | translate }}
                            </option>
                          </select>
                          <button type="submit" (click)="updateOrderStatus(selectedOrder._id)">
                            {{ "Update" | translate }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </ng-template>
          </div>

          <div class="custom-datatable">
            <div class="searchArea mx-2 d-flex">
              <div>
                <input type="text" class="filter-ngx form-control mx-2" placeholder="{{ 'Search...' | translate }}"
                  [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" />
              </div>
              <div>
                <button type="submit" (click)="search()" class="btn btn-primary">
                  {{ "Find" | translate }}
                </button>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" sortable="order_id" (sort)="onSort($event)">
                    {{ "Order ID" | translate }}
                  </th>

                  <th scope="col" sortable="payment_status" (sort)="onSort($event)">
                    {{ "PaymentStatus" | translate }}
                  </th>
                  <th scope="col" sortable="paymeny_method" (sort)="onSort($event)">
                    {{ "PaymentMethod" | translate }}
                  </th>
                  <th scope="col" sortable="order_status" (sort)="onSort($event)">
                    {{ "OrderStatus" | translate }}
                  </th>
                  <th scope="col" sortable="date" (sort)="onSort($event)">
                    {{ "Date" | translate }}
                  </th>
                  <th scope="col" sortable="total" (sort)="onSort($event)">
                    {{ "Total" | translate }}
                  </th>
                  <th scope="col" sortable="total" (sort)="onSort($event)">
                    {{ "Action" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredOrders">
                  <th scope="row">{{ item._id }}</th>
                  <td>
                    <span class="badge badge-success">{{
                      item.paymentInfo?.status
                      }}</span>
                  </td>
                  <td>{{ item.payment_method }}</td>
                  <td>
                    <span class="badge badge-secondary">{{ item.status }}</span>
                  </td>
                  <td>{{ item.paidAt | date : "longDate" }}</td>
                  <td>{{ item.totalPrice | currency }}</td>
                  <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                      data-target="#exampleModal" (click)="irfan(item)" (click)="open(content)">
                      {{ "GoOrder" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>