<!-- <app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb> -->
<!-- section start -->
<section class="pwd-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2>{{'CHANGE YOUR PASSWORD' | translate}}</h2>
        <form class="theme-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword"
                placeholder="{{'Enter Your Old Password' | translate}}" required="" />
            </div>
            <div class="col-md-12">
              <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                placeholder="{{'Enter Your New Password' | translate}}" required="" />
              <small class="text-info" *ngIf="
                  passwordForm.get('newPassword').valid &&
                  passwordForm.get('newPassword').touched
                ">
                {{'ChangePasswordDescription' | translate}}
              </small>
              <small class="text-danger" *ngIf="
                  passwordForm.get('newPassword').hasError('minlength') &&
                  passwordForm.get('newPassword').touched
                ">
                {{'New password must be at least 8 characters long.' | translate}}
              </small>
              <small class="text-danger" *ngIf="
                  isUppercaseMissing(passwordForm.get('newPassword').value) &&
                  passwordForm.get('newPassword').hasError('minlength')
                ">
                {{'Password must contain at least one uppercase letter.' | translate}}
              </small>
              <small class="text-danger" *ngIf="
                  isSpecialCharacterMissing(
                    passwordForm.get('newPassword').value
                  ) && passwordForm.get('newPassword').hasError('minlength')
                ">
                {{'Password must contain at least one special character.' | translate}}
              </small>
            </div>
            <div class="col-md-12">
              <input type="password" class="form-control" formControlName="confirmPassword"
                placeholder="{{'Enter Your New Password' | translate}}" required="" />
              <small class="text-danger" *ngIf="
                  passwordForm.get('newPassword').invalid &&
                  passwordForm.get('newPassword').touched
                ">
                {{'New password must be at least 8 characters long.' | translate}}
              </small>
              <small class="text-danger" *ngIf="
                  passwordForm.hasError('passwordMismatch') &&
                  passwordForm.get('confirmPassword').touched
                ">
                {{'Passwords do not match.' | translate}}
              </small>
            </div>
          </div>
          <button class="btn btn-solid">{{'Submit' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->