
$primary-color: #007BFF;
$border-color: #ccc;
$font-color: #333;
$background-color: #f5f5f5;


body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $font-color;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.card-information {
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
  .js-new-creditcard-area {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid $border-color;
    border-radius: 5px;
    
    .alert-message {
      p {
        color: red;
        font-weight: bold;
      }
    }
    
    .field {
      margin-bottom: 15px;
      
      .checkout__payment__label {
        font-weight: bold;
        
        input[type="tel"] {
          width: 100%;
          padding: 10px;
          border: 1px solid $border-color;
          border-radius: 5px;
        }
      }
      
      .error {
        color: red;
      }
    }
    
    .checkout__payment__expire {
      .checkout__payment__label {
        font-weight: bold;
      }
      
      .select {
        select {
          width: 48%;
          padding: 10px;
          border: 1px solid $border-color;
          border-radius: 5px;
        }
      }
      
      .error {
        color: red;
      }
    }
    
    .field-cvc {
      .checkout__payment__label {
        font-weight: bold;
        
        input[type="tel"] {
          width: 100%;
          padding: 10px;
          border: 1px solid $border-color;
          border-radius: 5px;
        }
      }
      
      .error {
        color: red;
      }
    }
  }
  
  .masterpass-wrapper {
    .info-button {
      img {
        width: 24px;
        vertical-align: middle;
      }
    }
    
    .masterpass-header {
      .input {
        display: inline-block;
        margin-right: 10px;
        
        input[type="checkbox"] {
          display: none;
          
          + label {
            position: relative;
            cursor: pointer;
            padding-left: 30px;
            
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 20px;
              height: 20px;
              border: 1px solid $border-color;
              border-radius: 3px;
              background-color: #fff;
            }
            
            &::after {
              content: "\2713";
              position: absolute;
              left: 2px;
              top: -2px;
              color: $primary-color;
              font-size: 18px;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .card-information {
    .js-new-creditcard-area {
      .field, .checkout__payment__expire, .field-cvc {
        margin-bottom: 10px;
        
        .checkout__payment__label {
          input[type="tel"] {
            padding: 8px;
          }
        }
        
        .select {
          select {
            width: 100%;
            padding: 8px;
          }
        }
      }
    }
    
    .masterpass-wrapper {
      .masterpass-header {
        .input {
          margin-right: 5px;
        }
      }
    }
  }
}

.credit-card-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;

  label {
    font-weight: bold;
    margin-top: 10px;
  }

  input, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .expiration-date {
    display: flex;
    select {
      flex: 1;
      margin-right: 5px;
    }
  }
}

.terms-and-conditions {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.terms-and-conditions label {
  margin-left: 10px;
}

// Order Summary
.summary-header {
  font-weight: bold;
  font-size: 24px;
  color: #3498db;
}

.item-area {
  margin-top: 20px;
}

.item-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-img-link-wrapper {
  margin-right: 20px;
}

.product-name-link-wrapper p {
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: #3498db;
}

.subtotal-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

  .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-price,
    .campaign {
      padding: 5px;
      border-radius: 5px;
    }

    .campaign {
      background-color: #F5A623;
      color: white;
    }

    div {
      margin: 5px 0;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .totalPrice {
      font-weight: bold;
      color: #4CAF50;
      margin-left: auto;
      padding-right: 10px;
    }
  }
}

.order-image {
 
  display: block; /* İmajı bir blok eleman olarak ayarla */
  width:158px; /* Genişlik ayarla */
  border: 2px solid #3498db; /* Kenarlık ekle */
  border-radius: 5px; /* Köşeleri yuvarla */
  padding: 2px; /* İçerik etrafına boşluk ekle */
  height: auto; /* Yüksekliği otomatik olarak ayarla (kaldır) */
  margin-bottom: -50px;
}
.order-image img {
  display: block; /* Blok eleman olarak ayarla */
  max-width: 150px; /* Maksimum genişlik ayarla */

}
