.faq-tab .nav-tabs .nav-item .nav-link:hover{
    border: none;
    border-right: 2px solid var(--theme-color);
    color: var(--theme-color);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.faq-tab .nav-tabs .nav-item .nav-link.active {
    border: none;
    border-right: 2px solid var(--theme-color);
    border-radius: 0;
    color: var(--theme-color);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}