.row {
    .dropdown {
      width: 100%;
      text-align: left;
      .btn {
        width: 100%;
        background-color: transparent; 
        border: none; 
        color: inherit; 
        display: flex;
        align-items: center; 
        justify-content: space-between; 
      }
  
      .dropdown-content {
        width: 100%;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
      }
  
    }
  }
  
  .custom-hr {
     height: 1px;
    background-color: #ccc; 
    margin: 0 0;
  }
  
  

  // Enable product
  .form-switch-custom-size {
    width: 3rem; 
    height: 1.5rem; 
  }
  

  
  .border-category {
    padding: 5px; 
    display: flex; 
    flex-wrap: wrap; 
  }
  
  .category-item {
    margin-right: 5px; 
    background-color: #f0f0f0; 
    padding: 5px; 
    border: 1px solid rgb(109, 104, 104); 
    border-right: 50%; 
    border-left: 50%; 
    margin: 4px;
    padding: 2px; 
  }
  
  .remove {
    cursor: pointer; 
    border-radius: 50%; 
    color: ff8084; 
    padding: 2px; 
  }
  
  .remove {
    cursor: pointer; 
    border-radius: 50%; 
    color: #ff8084; 
    padding: 2px;
    text-decoration: none; 
    background-color: #f0f0f0; 
    margin-left: 5px; 
  }
  
  

  .selected-options {
    display: flex;
    flex-wrap: wrap;
  }
  
  .selected-option {
    margin-right: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
  }
  



  // scrool
  .dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;
  }
  

  