.round-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; 
    color: #fff;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    margin-right: 3px; 
  }
  
 

  
  .onhover-show-div li a:hover {
    color: #FF0000; 
    cursor: pointer; 
  }
  