<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{'create-an-account'| translate}}</h3>
        <div class="theme-card">
          <form class="theme-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <label for="fname">{{'First-name' | translate}}</label>
                <input type="text" class="form-control" id="fname" placeholder="{{'First-name' | translate}}"
                  formControlName="firstName" />
              </div>
              <div class="col-md-6">
                <label for="lname">{{'Last-name' | translate}}</label>
                <input type="text" class="form-control" id="lname" placeholder="{{'Last-name' | translate}}" formControlName="lastName" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="email">{{'E-mail'| translate}}</label>
                <input type="text" class="form-control" id="email" placeholder="{{'Enter-your-email'| translate}}" formControlName="email" />
              </div>
              <div class="col-md-6">
                <label for="password">{{'Password'| translate}}</label>
                <input type="password" class="form-control" id="password" placeholder="{{'Password'| translate}}"
                  formControlName="password" />
                <div>
                  <small class="text-info" *ngIf="
                      registerForm
                        .get('password')
                        .hasError('passwordInvalid') &&
                      registerForm.get('password').touched
                    ">
                    Password must contain at least one uppercase letter, one
                    special character, and be at least 8 characters long.
                  </small>
                  <br />
                  <small class="text-danger" *ngIf="
                      registerForm.get('password').hasError('minlength') &&
                      registerForm.get('password').touched
                    ">
                    Password must contain at least one uppercase letter. <br />
                    Password must contain at least one special character.
                  </small>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-solid">{{'create-an-account'| translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->