<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<div class="page-checkout">
  <div class="js-tab-box">
  <div class="checkout-tabs container">
  <img loading="lazy" class="tick js-address-step-address" src="https://39b3a056.cdn.akinoncloud.com/static_omnishop/occ542/assets/img/tick.png" alt="">
  <div class="checkout-tab js-tab active" data-type="checkout-address">
    <div class="checkout-tab-title">
      <span class="desktop-tab">
        1. ADDRESS & SHIPPING INFORMATION
        <i class="icon-arrow_right"></i>
      </span>
      <span class="mobile-tab">
       <div class="js-checkout-step"><span>1</span></div>
        Delivery
      </span>
    </div>
  </div>
  <div class="visible-xs divider"></div>
  <img loading="lazy" class="tick js-payment-step-payment" src="https://39b3a056.cdn.akinoncloud.com/static_omnishop/occ542/assets/img/tick.png" alt="">
  <div class="checkout-tab js-tab disabled-action" data-type="checkout-payment">
    <div class="checkout-tab-title">
      <span class="desktop-tab">
        2. PAYMENT OPTIONS
        <i class="icon-arrow_right"></i>
      </span>
      <span class="mobile-tab">
        <div class="js-checkout-step"><span>2</span></div>
        Payment
      </span>      
    </div>
  </div>
  <div class=" visible-xs divider"></div>
  <img loading="lazy" class="tick js-all-step-completed" src="https://39b3a056.cdn.akinoncloud.com/static_omnishop/occ542/assets/img/tick.png" alt="">
  <div class="checkout-tab" data-type="checkout-completed">
    <div class="checkout-tab-title">
      <span class="desktop-tab">
        3. CONFIRMATION
      </span>
      <span class="mobile-tab">
       <div class="js-checkout-step"><span>3</span></div>
       Confirmation
      </span>      
    </div>
  </div>
  </div>
</div>


    <app-address  *ngIf="currentStep === 'adres'"></app-address>
    <app-payment *ngIf="currentStep === 'odeme'"></app-payment>
    <app-confirmation *ngIf="currentStep === 'onay'"></app-confirmation>
    
<br>
<div class="cta-area col-md-10 ml-auto text-right mx-3">
    <form class="js-proceed-form" method="post">
      <button (click)="proceedToNextStep()" class="complete-btn checkout-save-btn">KAYDET VE DEVAM ET</button>
    </form>
  </div>
  <br><br><br>
  