$ana-renk: #ff5733;
$arkaplan-renk: #ededed;
$ana-renk2: rgb(4, 70, 4);


body {
  background-color: $arkaplan-renk;
}


.checkout-tabs.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $arkaplan-renk;
  padding: 10px;
  border-radius: 5px;
}


.checkout-tab {
  flex: 1;
  padding: 7px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;

  &.active {
    background-color: green;
    color: white;
  }

  &.completed {
    background-color: green;
    color: white;
  }


  .mobile-tab {
    display: none;
  }

  @media (max-width: 768px) {
    .desktop-tab {
      display: none;
    }
    .mobile-tab {
      display: block;
    }
  }
}

.btn-solid {
  margin: 10px 0 0;
}


.visible-xs.divider {
  display: none;

  @media (max-width: 768px) {
    display: block;
    margin: 0 10px;
  }
}


.js-options-detail.options-detail {
  background-color: $arkaplan-renk;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}


.address-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.checkout__cargos-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}


.unified-group__title {
  font-weight: bold;
  margin-bottom: 10px;

  span {
    font-weight: normal;
  }
}


.checkout-cargo-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;


  &.js-checkout-cargo-item.checked {
    background-color: $ana-renk;
    color: white;
  }

  &:hover {
    background-color: darken($ana-renk, 1%);
  }


  .checkout-cargo-title {
    font-weight: bold;
  }


  .checkout-cargo-desc {
    margin-top: 5px;
  }


  .checkout-cargo-amount {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .checkout-cargo-wrapper {
    padding: 15px;
  }
}


.cta-area {
  display: flex;
  justify-content: flex-end;

  .complete-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    width: 18rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;

    &:hover {
      background-color: darken(#3498db, 1%);
    }
  }
}
