<!-- <app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb> -->
<div class="page-checkout container">
  <div class="js-tab-box">
    <div class="checkout-tabs container">
      <img loading="lazy" class="tick js-address-step-address" src="" alt="" />
      <div
        class="checkout-tab js-tab"
        [ngClass]="{ active: currentStep === 'adres' }"
        data-type="checkout-address"
      >
        <div class="checkout-tab-title">
          <span class="desktop-tab">
            1. ADDRESS & SHIPPING INFORMATION
            <i class="icon-arrow_right"></i>
          </span>
          <span class="mobile-tab">
            <div class="js-checkout-step"><span>1</span></div>
            Delivery
          </span>
        </div>
      </div>
      <div class="visible-xs divider"></div>
      <img loading="lazy" class="tick js-payment-step-payment" src="" alt="" />
      <div
        class="checkout-tab js-tab"
        [ngClass]="{ active: currentStep === 'checkout' }"
        data-type="checkout-payment"
      >
        <div class="checkout-tab-title">
          <span class="desktop-tab">
            2. CHECK-OUT
            <i class="icon-arrow_right"></i>
          </span>
          <span class="mobile-tab">
            <div class="js-checkout-step"><span>2</span></div>
            Check-out
          </span>
        </div>
      </div>
      <div class="visible-xs divider"></div>
      <img loading="lazy" class="tick js-all-step-completed" src="" alt="" />
      <div
        class="checkout-tab"
        [ngClass]="{ active: currentStep === 'odeme' }"
        data-type="checkout-completed"
      >
        <div class="checkout-tab-title">
          <span class="desktop-tab"> 3. PAYMENT OPTIONS </span>
          <span class="mobile-tab">
            <div class="js-checkout-step"><span>3</span></div>
            Payment
          </span>
        </div>
      </div>
    </div>
  </div>
  <button
    (click)="goToPreviousStep()"
    class="btn-solid btn"
    *ngIf="currentStep !== 'adres'"
  >
    <i class="fa fa-angle-left"></i> &nbsp; Back
  </button>

  <app-address *ngIf="currentStep === 'adres'"></app-address>
  <app-checkout-cart *ngIf="currentStep === 'checkout'"></app-checkout-cart>
  <app-payment *ngIf="currentStep === 'odeme'"></app-payment>

  <br />

  <div class="cta-area  ml-auto text-right mr-3">
    <form class="js-proceed-form" method="post">
      <button
        (click)="proceedToNextStep()"
        class="complete-btn checkout-save-btn"
        *ngIf="showPaymentButton"
      >
        {{ buttonText }}
      </button>
    </form>
  </div>

  <br />
</div>
