<h3>Kullanılan Kuponlar</h3>
<section class="couponWrapper">
    <div class="couponListSection">
      <div class="couponCard used">
        <div class="couponCard__positioning">
          <div class="coupon">
            <div class="couponCard__bg-gray" *ngFor="let coupon of coupons">
              <p class="title">Sana Özel Kupon 1</p>
              <p>{{coupon.couponID}}</p>
              <p>{{coupon.quantity}}</p>
              <p>{{coupon._id}}</p>
              <ul>
                <li>Geçerlilik Tarihi: 01.11.2023 - 30.11.2023</li><br>
                <li>Toplam Fiyat: 500,00 TL</li>
                <li>İndirim Tutarı: 50,00 TL</li>
                <li>Kupon Başlangıç Tarihi: 01.11.2023 00:00</li>
                <li>Kupon Bitiş Tarihi: 30.11.2023 23:59</li>
                <li>Kar: 450,00 TL</li>
              </ul>
            </div>
            <div class="couponCard__bg-gray">
                <p class="title">Sana Özel Kupon 2</p>
                <ul>
                  <li>Geçerlilik Tarihi: 01.11.2023 - 30.11.2023</li><br>
                  <li>Toplam Fiyat: 500,00 TL</li>
                  <li>İndirim Tutarı: 50,00 TL</li>
                  <li>Kupon Başlangıç Tarihi: 01.11.2023 00:00</li>
                  <li>Kupon Bitiş Tarihi: 30.11.2023 23:59</li>
                  <li>Kar: 450,00 TL</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  