<div class="card-body tab2-card">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>
        <h5>Available Coupons</h5>
      </a>
      <ng-template ngbNavContent>
        <div *ngIf="coupons && coupons.length > 0">
          <div class="coupon-box row no-gutters bg-white p-1 h-entry" *ngFor="let coupon of coupons">
            <div class="expiration-date">
              <h5>
                Expiration date:
                <span class="expiration-month">{{ getMonthName(coupon.end_date.month) }}</span> -
                <span class="expiration-year">{{ coupon.end_date.year }}</span>
              </h5>
            </div>
            <div class="col-4 col-md-3 align-self-center">
              <div class="store-image border-right">
                <a>
                  <img src="../../../../assets/images/icon/CoponLogo MeseSoft2.png" class="img-fluid" alt="logo" />
                </a>
              </div>
            </div>
            <div class="col-8 col-md-6 align-self-center px-3 px-md-3">
              <div class="coupon-desc">
                <h3 class="h5 entry-title">
                  <a class="title-coupon-code-popup coupon-code-link text-dark">Special discounts for all products</a>
                </h3>
                <p class="small">
                  Do you want to use discount coupons for all products ? Special
                  discount for online order...
                </p>
              </div>
            </div>
            <div class="col-12 col-md-3 align-self-center text-right">
              <a (click)="openModal(coupon)" rel="nofollow"
                class="coupon-code-link btn promotion code btn-secondary tn btn-block coupon-button"
                title="Click to open the discount coupon">
                <span class="d-lg-inline">Show the coupon</span>
              </a>
            </div>
            <hr />
          </div>
        </div>
        <section class="coupon-wrapper">
          <div *ngIf="loading" class="loading-text">
            Loading...
          </div>
          <div *ngIf="!loading && (!coupons || coupons.length === 0)" class="no-coupons-text">
            <h5>No coupons available</h5>
          </div>
        </section>
      </ng-template>
      
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>
        <h5>Used Coupons</h5>
      </a>
      <ng-template ngbNavContent>
        <section class="coupon-wrapper">
          <div *ngIf="coupons && coupons.length > 0">
            <div class="coupon-box row no-gutters bg-white p-1 h-entry" *ngFor="let coupon of coupons">
              <div class="coupon-name">
                <h5>
                  Coupon Name:
                  <span class="coupon-name-text">{{ coupon.name }}</span>
                </h5>
              </div>
              <hr />
              <div class="col-4 col-md-3 align-self-center">
                <div class="store-image border-right">
                  <a>
                    <img src="../../../../assets/images/icon/CoponLogo MeseSoft2.png" class="img-fluid" alt="logo" />
                  </a>
                </div>
              </div>
              <div class="col-8 col-md-6 align-self-center px-3 px-md-3">
                <div class="coupon-desc">
                  <h3 class="h5 entry-title">
                    <a class="title-coupon-code-popup coupon-code-link text-dark">Special discounts for all products</a>
                  </h3>
                  <p class="small">
                    Do you want to use discount coupons for all products ?
                    Special discount for online order...
                  </p>
                  <div class="coupon-usage-date">
                    <h5>
                      Coupon usage date:
                      <span class="coupon-usage-date-text">{{ getMonthName(coupon.end_date.month) }} - {{ coupon.end_date.year }}</span>
                    </h5>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
          <div *ngIf="!coupons || (coupons && coupons.length === 0)">
            <h5 class="no-coupons-text">No Used Coupons</h5>
          </div>
        </section>
      </ng-template>
      
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <!-- //open modal CouponAvailable -->

  <div class="modal-content col-12 col-md-8 col-lg-6">
    <div class="modal" [ngClass]="{ show: isModalOpen }">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content col-12 col-md-8 col-lg-6">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              <a class="popup-store text-dark" rel="tag">MeseSoft</a> Discount
              Coupon
            </h5>
            <button class="close-button" (click)="closeModal()">X</button>
          </div>
          <div class="modal-body">
            <div class="text h3 font-weight-bold">
              <input id="coupon_copy" class="coupon-code border-0 font-weight-bold" [value]="selectedCoupon?.name"
                readonly="" />
              <!-- <input id="coupon_copy" class="coupon-code border-0 font-weight-bold" [value]="formatDate(selectedCoupon?.end_date) | date:'shortDate'" readonly=""> -->
            </div>
            <small class="form-text text-muted">
              This discount code is free of charge and can be used by pasting it
              in the corresponding field on the cart page.</small>
          </div>
          <div class="modal-footer">
            <button type="button" id="copy-button" class="btn btn-secondary" (click)="copyCouponCode()">
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>