<section class="section-b-space account-section">
  <div class="container">
    <div class="row">
      <div class="box-account box-info">
        <div class="col-12">
          <div class="card dashboard-table mt-0">
            <div class="card-body table-responsive-sm">
              <div class="top-sec">
                <h3>My Orders</h3>
              </div>
              <div class="col-sm-12 empty-cart-cls text-center"
                *ngIf="!loading && (!filteredOrders || filteredOrders.length === 0)">
                <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4" alt="" />
                <h3>
                  <strong>You have no orders</strong>
                </h3>
                <h4>Explore more shortlist some items.</h4>
              </div>
              <div class="table-responsive-xl" *ngIf="filteredOrders && filteredOrders.length > 0">
                <table class="table cart-table order-table">
                  <thead>
                    <tr class="table-head">
                      <th scope="col">Image</th>
                      <th scope="col">Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Price</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let order of filteredOrders">
                      <tr>
                        <td>
                          <img [src]="order.cart[0].images[0].url" class="blur-up lazyloaded" alt="" />
                        </td>
                        <td>
                          <span class="fs-6">{{
                            order.createdAt | date : "longDate"
                            }}</span>
                        </td>
                        <td>
                          <span class="fs-6">{{ order.status }}</span>
                        </td>
                        <td>
                          <span class="theme-color fs-6">{{
                            order.totalPrice | currency
                            }}</span>
                        </td>
                        <td>
                          <a href="javascript:void(0)" title="Order Quick View" (click)="openModal(order.cart)">
                            <i class="fa fa-eye text-theme"></i>
                          </a>
                        </td>

                        <button class="btn btn-info" (click)="refundOrder(order._id)"
                          *ngIf="order.status === 'Processing'">
                          Refund
                        </button>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-order-quick-view #orderQuickView [order]="order" [currency]="currency"></app-order-quick-view> -->
<div class="custom-container theme-modal">
  <div class="modal" [ngClass]="{ show: isModalOpen }">
    <div class="modal-content col-12 col-md-8 col-lg-6">
      <div class="modal-body">
        <button class="close-button" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row" *ngIf="orderDetails">
          <div class="col-lg-6 col-xs-12">
            <div class="modal-img">
              <img *ngIf="orderDetails.images && orderDetails.images.length > 0" [src]="orderDetails.images[0].url"
                [alt]="orderDetails.images[0].public_id" class="img-fluid" />
              <img *ngIf="!orderDetails.images || orderDetails.images.length === 0" src="assets/images/categories/1.png"
                class="img-fluid" alt="Default Image" />
            </div>
          </div>
          <div class="col-lg-6 rtl-text">
            <div class="product-right">
              <h2>{{ orderDetails.name | titlecase }}</h2>
              <h3>
                {{ orderDetails.discountPrice | currency }}
                <del *ngIf="orderDetails?.discountPrice"><span class="money">{{
                    orderDetails.originalPrice | currency
                    }}</span></del>
              </h3>
              <div class="border-product">
                <h6 class="product-title">Order details</h6>
                <p>{{ orderDetails.description.substring(0, 150) + "..." }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>