// style table start


.styled-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px; 
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  // style table end

  .no-comments-message {
    text-align: center;
    color: #888; 
    font-style: italic;
    padding: 10px;
  }
  

  tbody {
    tr {
      td {
        padding: 10px;
        border: 1px solid #ccc;
        
        .comment-preview {
          display: block;
          overflow: hidden;
        }
        
        .comment-toggle-link {
          color: blue;
          cursor: pointer;
        }
        
        .full-comment {
          display: block;
        }
      }
    }
  }
  