<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{'Collection' | translate}}</h5>
        </div>
        <div class="card-body">
          <div class="btn-popup">
            <div class="searchArea">
              <input type="text" class="filter-ngx form-control mx-2" placeholder="{{'Search...' | translate}}"
                [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" />
              <button type="submit" (click)="search()" class="btn btn-primary">
                {{'Find' | translate}}
              </button>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
              data-target="#exampleModal" (click)="open(content)">
              {{'AddCollection'| translate}}
            </button>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h5 class="modal-title f-w-600" id="exampleModalLabel">
                  {{'AddCollection' | translate}}
                </h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="onSubmit()" class="needs-validation" [formGroup]="catalogForm">
                  <div class="form">
                    <div class="form-group">
                      <label for="validationCustom01" class="mb-1">{{'CollectionName' | translate}} :</label>
                      <input class="form-control" id="validationCustom01" type="text" formControlName="name" />
                    </div>
                    <div class="form-group">
                      <label for="validationCustom01" class="mb-1">{{'CollectionSavePercentage' | translate}} :</label>
                      <input class="form-control" id="validationCustom01" type="number" formControlName="saving" />
                    </div>
                    <div class="form-group">
                      <label for="validationCustom01" class="mb-1">{{'CollectionDescription' | translate}} :</label>
                      <textarea class="form-control" id="validationCustom01" formControlName="description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom02" class="mb-1">{{'CollectionImage' | translate}} :</label>
                      <input class="form-control" formControlName="images" id="validationCustom02" type="file" multiple
                        (change)="onFileChange($event)" />
                    </div>
                    <div class="form-group">
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox-primary-2" formControlName="isShow" type="checkbox" data-original-title=""
                          title="" />
                        <label for="checkbox-primary-2">{{'AddToSlider' | translate}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                      {{ buttonText| translate }}
                    </button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal"
                      (click)="modal.dismiss('Cross click')">
                      {{'Close' | translate}}
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
          <div id="batchDelete" class="category-table custom-datatable">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">{{'ProductId'| translate}}</th>
                    <th scope="col" sortable="product_name" (sort)="onSort($event)">
                      {{'Name' | translate}}
                    </th>
                    <th scope="col">{{'Image' | translate}}</th>
                    <th scope="col">{{'SavingPercentage' | translate}}</th>
                    <!-- <th scope="col" sortable="category" (sort)="onSort($event)">
                      productIds
                    </th> -->
                    <th scope="col">{{'Actions' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let koleksiyon of collections">
                    <th scope="row">{{ koleksiyon._id }}</th>
                    <td>{{ koleksiyon.name }}</td>
                    <td>
                      <img [src]="koleksiyon.images[0].url" class="imgTable" />
                    </td>
                    <td>{{ koleksiyon.saving }}</td>
                    <td>
                      <button href="javascript:void(0)" (click)="editCategory(koleksiyon._id, content)">
                        <i class="fa fa-edit f-12"></i></button>&nbsp;
                      <a href="javascript:void(0)" (click)="deleteCategory(koleksiyon._id)"><i
                          class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->