.discount-label {
  background-color: #ff4c3b;
  color: #fff;
  padding: 8px 8px;
  position: absolute;
  top: 10px; 
  left: 5px; 
  border-radius: 25%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 12px; 
  transition: transform 0.2s ease-in-out;
  width: 3rem;
}

.discount-label:hover {
  transform: scale(1.1);
}
