<owl-carousel-o [options]="DiscountConfig" class="no-arrow">
    <ng-container *ngFor="let discount of discounts">
        <ng-template carouselSlide>
            <div class="col-md d-flex">
                <div class="collection-banner p-right text-center flex-grow-1">
                    <a [routerLink]="'/home/fashion'">
                        <img style="height: 351px; width: 664px" src="{{discount.image}}" class="img-fluid"
                            alt="discount.alt" />
                        <div class="contain-banner">
                            <div>
                                <h4>{{ discount.save }}</h4>
                                <h2>{{ discount.variant }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>