<!-- <app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb> -->
<!-- section start -->
<section class="pwd-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2>Change Your Password</h2>
        <form
          class="theme-form"
          [formGroup]="passwordForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-md-12">
              <input
                type="password"
                formControlName="oldPassword"
                class="form-control"
                id="oldPassword"
                placeholder="Enter Your Old Password"
                required=""
              />
            </div>
            <div class="col-md-12">
              <input
                type="password"
                class="form-control"
                formControlName="newPassword"
                id="newPassword"
                placeholder="Enter Your New Password"
                required=""
              />
              <small
              class="text-info"
              *ngIf="passwordForm.get('newPassword').valid && passwordForm.get('newPassword').touched"
            >
              Password must contain at least one uppercase letter, one special character, and be at least 8 characters long.
            </small>
            <small
              class="text-danger"
              *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').touched"
            >
              New password must be at least 8 characters long.
            </small>
            <small
            class="text-danger"
            *ngIf="isUppercaseMissing(passwordForm.get('newPassword').value) && passwordForm.get('newPassword').hasError('minlength')"
          >
            Password must contain at least one uppercase letter.
          </small>
          <small
          class="text-danger"
          *ngIf="isSpecialCharacterMissing(passwordForm.get('newPassword').value)  && passwordForm.get('newPassword').hasError('minlength')"
        >
          Password must contain at least one special character.
        </small>
            </div>
            <div class="col-md-12">
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                placeholder="Enter Your New Password Check"
                required=""
              />
              <small
                class="text-danger"
                *ngIf="
                  passwordForm.get('newPassword').invalid &&
                  passwordForm.get('newPassword').touched
                "
              >
                New password must be at least 8 characters long.
              </small>
              <small
                class="text-danger"
                *ngIf="
                  passwordForm.hasError('passwordMismatch') &&
                  passwordForm.get('confirmPassword').touched
                "
              >
                Passwords do not match.
              </small>
            </div>
          </div>
          <button class="btn btn-solid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
