<!-- <app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb> -->
<!-- personal deatail section start -->
<section class="contact-page register-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>PERSONAL DETAIL</h3>
        <form
          class="theme-form"
          (ngSubmit)="onSubmit()"
          [formGroup]="updateForm"
        >
          <div class="row">
            <div class="col-md-6">
              <label for="firstName">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Enter Your name"
                formControlName="firstName"
                required=""
                [(ngModel)]="userInf.firstName"
              />
            </div>
            <div class="col-md-6">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="lastName"
                formControlName="lastName"
                required=""
                [(ngModel)]="userInf.lastName"
              />
            </div>
            <div class="col-md-6">
              <label for="phoneNumber">Phone number</label>
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                placeholder="Enter your number"
                formControlName="phoneNumber"
                required=""
                [(ngModel)]="userInf.phoneNumber"
              />
            </div>
            <div class="col-md-6">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email"
                formControlName="email"
                required=""
                [(ngModel)]="userInf.email"
              />
            </div>
            <div class="col-md-12">
              <button class="btn btn-sm btn-solid" type="submit">
                Save setting
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- address section start -->
<!-- <section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>SHIPPING ADDRESS</h3>
                <form class="theme-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">flat / plot</label>
                            <input type="text" class="form-control" id="home-ploat" placeholder="company name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="name">Address *</label>
                            <input type="text" class="form-control" id="address-two" placeholder="Address" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Zip Code *</label>
                            <input type="text" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6 select_input">
                            <label for="review">Country *</label>
                            <select class="form-control" size="1">
                                <option value="India">India</option>
                                <option value="UAE">UAE</option>
                                <option value="U.K">U.K</option>
                                <option value="US">US</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="review">City *</label>
                            <input type="text" class="form-control" id="city" placeholder="City" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Region/State *</label>
                            <input type="text" class="form-control" id="region-state" placeholder="Region/state" required="">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit">Save setting</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- Section ends -->
