<app-breadcrumb [title]="'FAQ'" [breadcrumb]="'FAQ'"></app-breadcrumb>
<!-- section start-->
<section class="faq-section section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ngb-accordion
          [closeOthers]="true"
          class="accordion theme-accordion"
          id="accordionExample"
        >
          <ngb-panel
            *ngFor="let item of faqData"
            [id]="item.id"
            [title]="item.title"
          >
            <ng-template ngbPanelContent>
              <p class="mb-0">{{ item.content }}</p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
