<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Manage Refund</h5>
        </div>
        <div class="card-body">
          <div class="modal fade modal-lg" style="width: 1200px">
            <ng-template #content let-modal>
              <h5 class="modal-title f-w-600" id="exampleModalLabel">
                Refund Details
              </h5>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-body">
                <form class="needs-validation" [formGroup]="myForm" novalidate>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          sortable="refund_id"
                          (sort)="onSort($event)"
                          style="width: 150px"
                        >
                          Refund Id
                        </th>
                        <th
                          scope="col"
                          sortable="product"
                          (sort)="onSort($event)"
                          style="width: 200px"
                        >
                          Image
                        </th>
                        <th
                          scope="col"
                          sortable="payment_status"
                          (sort)="onSort($event)"
                        >
                          Payment Status
                        </th>
                        <th
                          scope="col"
                          sortable="paymeny_method"
                          (sort)="onSort($event)"
                        >
                          Payment Mehod
                        </th>
                        <th
                          scope="col"
                          sortable="refund_status"
                          (sort)="onSort($event)"
                        >
                          Refund Status
                        </th>
                        <th scope="col" sortable="date" (sort)="onSort($event)">
                          Date
                        </th>
                        <th
                          scope="col"
                          sortable="total"
                          (sort)="onSort($event)"
                        >
                          Total
                        </th>
                        <th
                          scope="col"
                          sortable="adress"
                          (sort)="onSort($event)"
                        >
                          Shipping Address
                        </th>
                        <th scope="col" sortable="update_status">
                          Update Refund Status
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <th scope="row">{{ selectedRefund._id }}</th>
                        <td>
                          <span
                            *ngFor="let image of selectedRefund.cart[0].images"
                          >
                            <img [src]="image.url" class="img-30 me-2" />
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-success">{{
                            selectedRefund.paymentInfo?.status
                          }}</span>
                        </td>
                        <td>{{ selectedRefund.payment_method }}</td>
                        <td>
                          <span class="badge badge-secondary">{{
                            selectedRefund.status
                          }}</span>
                        </td>
                        <td>{{ selectedRefund.paidAt  | date : "longDate" }}</td>
                        <td>{{ selectedRefund.totalPrice | currency}}</td>
                        <td>
                          {{ selectedRefund.shippingAddress.address1 }},
                          {{ selectedRefund.shippingAddress.address2 }},
                          {{ selectedRefund.shippingAddress.city }},
                          {{ selectedRefund.shippingAddress.zipCode }},
                          {{ selectedRefund.shippingAddress.country }}
                        </td>
                        <td>
                          <select [formControl]="myForm.controls['status']">
                            <option value="Processing Refund">
                              Processing Refund
                            </option>
                            <option value="Refund Success">
                              Refund Success
                            </option>
                          </select>
                          <button
                            type="submit"
                            (click)="updateRefundStatus(selectedRefund._id)"
                          >
                            Update
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </ng-template>
          </div>

          <div class="custom-datatable">
            <div class="mb-3">
              <input
                type="text"
                class="filter-ngx form-control"
                placeholder="Search..."
                [(ngModel)]="searchText"
              />
            </div>
            <button type="submit" (click)="search()" class="btn btn-primary">
              Ara
            </button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" sortable="refund_id" (sort)="onSort($event)">
                    Refund Id
                  </th>
                  <th scope="col" sortable="product" (sort)="onSort($event)">
                    Payment
                  </th>
                  <th
                    scope="col"
                    sortable="payment_status"
                    (sort)="onSort($event)"
                  >
                    Payment Status
                  </th>
                  <th
                    scope="col"
                    sortable="paymeny_method"
                    (sort)="onSort($event)"
                  >
                    Payment Mehod
                  </th>
                  <th
                    scope="col"
                    sortable="refund_status"
                    (sort)="onSort($event)"
                  >
                    Refund Status
                  </th>
                  <th scope="col" sortable="date" (sort)="onSort($event)">
                    Date
                  </th>
                  <th scope="col" sortable="total" (sort)="onSort($event)">
                    Total
                  </th>
                  <th scope="col" sortable="total" (sort)="onSort($event)">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredRefunds">
                  <th scope="row">{{ item._id }}</th>
                  <td>
                    <span *ngFor="let image of item.cart[0].images">
                      <img [src]="image.url" class="img-30 me-2" />
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-success">{{
                      item.paymentInfo?.status
                    }}</span>
                  </td>
                  <td>{{ item.payment_method }}</td>
                  <td>
                    <span class="badge badge-secondary">{{ item.status }}</span>
                  </td>
                  <td>{{ item.paidAt | date : "longDate" }}</td>
                  <td>{{ item.totalPrice | currency}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-original-title="test"
                      data-target="#exampleModal"
                      (click)="irfan(item)"
                      (click)="open(content)"
                    >
                      go refund
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="(total$ | async)!"
                [(page)]="service.page"
                [pageSize]="service.pageSize"
              >
              </ngb-pagination>
              <select
                class="form-select"
                style="width: auto"
                name="pageSize"
                [(ngModel)]="service.pageSize"
              >
                <option [value]="10" [selected]="true" [ngValue]="2">
                  2 items per page
                </option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
