<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="d-flex justify-content-between">
                  <div class="card-header">
                      <h5>{{ "Customers" | translate }}</h5>
                  </div>
                  <div class="card-header">
                      <button (click)="addCustomer()" type="submit" class="btn btn-primary">
                          {{ "Add New Customer" | translate }}
                      </button>
                  </div>
              </div>

              <div class="card-body">
                  <div class="custom-datatable">
                      <div class="searchArea mx-2 d-flex" [formGroup]="searchForm">
                          <div>
                              <input type="text" class="filter-ngx form-control mx-2"
                                  placeholder="{{ 'Search...' | translate }}" formControlName="searchText"
                                  (keyup.enter)="buttonSearch()" />
                          </div>
                          <div>
                              <button (click)="buttonSearch()" type="button" class="btn btn-primary">
                                  {{ "Find" | translate }}
                              </button>
                          </div>
                      </div>

                      <table class="table table-striped styled-table">
                          <thead>
                              <tr>
                                  <th scope="col" class="text-center">{{ "Select" | translate }}</th>
                                  <th scope="col">{{ "ID" | translate }}</th>
                                  <th class="text-center" scope="col">{{ "Name" | translate }}</th>
                                  <th scope="col">{{ "Email" | translate }}</th>
                                  <th scope="col">{{ "Group" | translate }}</th>
                                  <th scope="col">{{ "Tax/VAT Number" | translate }}</th>
                                  <th scope="col">{{ "Vertex Customer" | translate }}</th>
                                  <th scope="col">{{ "Email Form" | translate }}</th>
                                  <th scope="col">{{ "Date" | translate }}</th>
                                  <th scope="col">{{ "Gender" | translate }}</th>
                                  <th class="text-center" scope="col">{{ "Action" | translate }}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let customer of customer_list">
                                  <td class="text-center align-middle">
                                      <input type="checkbox" (change)="toggleSelection(customer);"
                                          [checked]="customer.selected" />
                                  </td>
                                  <td>{{ customer.id }}</td>
                                  <td>{{ customer.FirstName }} {{ customer.LastName }}</td>
                                  <td>{{ customer.Email }}</td>
                                  <td>{{ customer.Group }}</td>
                                  <td>{{ customer.TaxVatNumber }}</td>
                                  <td>{{ customer.VertexCustomer }}</td>
                                  <td>{{ customer.EmailForm }}</td>
                                  <td>{{ customer.Date }}</td>
                                  <td>{{ customer.Gender }}</td>
                                  <td class="text-center">
                                      <button type="button" class="btn btn-primary" data-toggle="modal"
                                          data-target="#exampleModal">
                                          <i class="icon-pencil-alt" (click)="editCustomer(customer.id)"></i>
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
