<owl-carousel-o [options]="CollectionSliderConfig" class="category-m no-arrow">
  <ng-container *ngFor="let categories of categories">
    <ng-template carouselSlide>
      <div>
        <div class="category-wrapper" [ngClass]="class">
          <div>
            <img [src]="categories.image" class="img-fluid w-auto" alt="" />
            <h4>{{ categories.title }}</h4>
            <ul class="category-link" [innerHTML]="categories.text"></ul>
            <a [routerLink]="['/shop/collection']" [queryParams]="{ category: categories }" class="btn btn-outline">
              view more
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>