<section class="saved-cart-section section-b-space">
  <div class="container">
    <div class="page-title mb-3">
      <h2>{{'My-Cart' | translate}}</h2>
      <button class="btn btn-primary" (click)="openAddCardModal()">
        {{'Add-Card' | translate}}
      </button>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="registeredCards && registeredCards.length > 0">
        <div class="stripe-section mt-2" *ngFor="let card of registeredCards">
          <h5>stripe js</h5>
          <!-- <img [src]="card.image" class="card-img-top" alt="{{ card.title }}" /> -->
          <div class="content">
            <h5 *ngIf="card">{{ card.cardName }}</h5>
            <table>
              <tr>
                <td>{{'Cart-number' | translate}}</td>
                <td>{{ card.cardNumber }}</td>
              </tr>
              <tr>
                <td>{{'mm/yy' | translate}}</td>
                <td>{{ card.expirationDate }}</td>
              </tr>
              <tr>
                <td>{{'cvc' | translate}}</td>
                <td>{{ card.cvv }}</td>
              </tr>
            </table>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="selectedCard" id="{{ card.cardName }}" [checked]="
                selectedCard && selectedCard.cardName === card.cardName
              " (change)="saveSelectedCard(card)" />
            <label class="form-check-label" for="{{ card.cardName }}">Seçili Kart yap</label>
          </div>
        </div>
      </div>
      <div class="col-12 text-center" *ngIf="!registeredCards && registeredCards.length === 0">
        <i class="fa fa-credit-card-alt fa-5x" aria-hidden="true"></i>
        <h4 class="mt-3">{{'You have no cards' | translate}}</h4>
        <p class="mt-3">{{'You can add a new card by clicking the button below' | translate}}</p>
        <button class="btn btn-primary" (click)="openAddCardModal()">
          {{'Add-Card' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div class="custom-container">
    <div class="modal" [ngClass]="{ show: isModalOpen }">
      <div class="modal-content col-12 col-md-8 col-lg-6">
        <button class="close-button" (click)="closeModal()">X</button>
        <div class="modal-header">
          <h5 class="modal-title">{{'Add-Card' | translate}}</h5>
        </div>
        <form (ngSubmit)="addNewCard()">
          <!-- Card details -->
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="cardName" [(ngModel)]="newCard.cardName"
              placeholder="{{'Card Name' | translate}}" required />
          </div>

          <div class="form-group">
            <input type="number" class="form-control form-control-sm" id="cardNumber" [(ngModel)]="newCard.cardNumber"
              placeholder="{{'Card Number' | translate}}" required />
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="expirationMonth">{{'Expiration-month' | translate}}</label>
              <select class="form-control form-control-sm" id="expirationMonth" [(ngModel)]="newCard.expirationMonth"
                required>
                <option value="01">01 - January</option>
                <option value="02">02 - February</option>
                <!-- Add more options for the other months -->
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="expirationYear">{{'Expiration-year' | translate}}</label>
              <select class="form-control form-control-sm" id="expirationYear" [(ngModel)]="newCard.expirationYear"
                required>
                <option value="2023">2024</option>
                <option value="2024">2025</option>
                <!-- Add more options for the future years as needed -->
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="cvv">{{'CVV' | translate}}</label>
              <input type="number" class="form-control form-control-sm" id="cvv" [(ngModel)]="newCard.cvv"
                placeholder="{{'CVV' | translate}}" required />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">{{'Add-Card' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</section>