$ana-renk: #ff5733;
$arkaplan-renk: #ededed;


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;

  &.show {
    display: flex;
  }

  .modal-content {
    width: 100%; 
    max-width: 800px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: darken($ana-renk, 1%);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
    }
  }
}
.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: darken($ana-renk, 1%);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}


.imgTable{
  width: 20px
}