<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>{{'Login' | translate}}</h3>
        <div class="theme-card">
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="theme-form">
            <div class="form-group">
              <label for="email">{{'E-mail' | translate}}</label>
              <input type="text" class="form-control" id="email" placeholder="{{'E-mail' | translate}}" required=""
                formControlName="email" />
            </div>
            <div class="form-group">
              <label for="review">{{'Password' | translate}}</label>
              <input type="password" class="form-control" id="review" placeholder="{{'Password' | translate}}" required=""
                formControlName="password" />
            </div>
            <button class="btn btn-solid">{{'Login' | translate}}</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 right-login">
        <h3>{{'new-customer' |translate}}</h3>
        <div class="theme-card authentication-right">
          <h6 class="title-font">{{'create-an-account' | translate}}</h6>
          <p>
           {{'New-Customer-Description' | translate}}
          </p>
          <button [routerLink]="['/register']" class="btn btn-solid">
            {{'create-an-account' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->