
<section class="section-b-space">
    <div class="container">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">

                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="credit-card-form">
                                    <label for="card-number">Card Number</label>
                                    <input type="text" id="card-number" placeholder="1234 5678 9012 3456">
                                    
                                    <label for="expiration-date">Expiration Date</label>
                                    <div class="expiration-date">
                                      <select id="card-month" formControlName="expirationMonth">
                                        <option value="" disabled selected>Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="01">03</option>
                                        <option value="02">04</option>
                                        <option value="01">05</option>
                                        <option value="02">06</option>
                                        <option value="01">07</option>
                                        <option value="02">08</option>
                                        <option value="01">09</option>
                                        <option value="02">10</option>
                                        <option value="01">11</option>
                                        <option value="02">12</option>
                                        <!-- Diğer ayları da ekleyin -->
                                      </select>
                                      <select id="card-year" formControlName="expirationYear">
                                        <option value="" disabled selected>Year</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                         <option value="2023">2025</option>
                                        <option value="2024">2026</option>
                                        <option value="2023">2027</option>
                                        <option value="2024">2028</option>
                                        <option value="2023">2029</option>
                                        <option value="2024">2030</option>
                                        <option value="2023">2031</option>
                                        <option value="2024">2032</option>
                                        <option value="2023">2033</option>
                                        <option value="2024">2034</option>
                                        <!-- Diğer yılları da ekleyin -->
                                      </select>
                                    </div>
                                  
                                    <label for="cvv">CVV</label>
                                    <input formControlName="cvv" type="text" id="cvv" placeholder="123">

                                    <div class="terms-and-conditions">
                                        <input formControlName="termsCheckbox"   type="checkbox" id="terms-checkbox">
                                        <label for="terms-checkbox">I have read and accept the <a href="#">Terms and Conditions</a></label>
                                      </div>
                                      
                                  </div>
                                  
                                <!-- <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='products.length'>
                                        <li *ngFor="let product of products">
                                        	 {{ product.name }} × {{ product.quantity }}
                                        	<span>
                                                {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!products.length'>
                                        <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	Subtotal <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</span>
                                        </li>
                                        <li *ngIf='products.length'>
                                        	Shipping
                                         <div class="shipping">
                                            <div class="shopping-option">
                                                <input type="radio" name="shipping" checked="checked" id="free-shipping">
                                                <label for="free-shipping">Shipping</label>
                                            </div>
                                            <div class="shopping-option">
                                                <input type="radio"  name="shipping" id="local-pickup">
                                                <label for="local-pickup">Local Pickup</label>
                                            </div>
                                         </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</span></li>
                                    </ul>
                                </div> -->

                                <div class="payment-box " *ngIf='products.length'>
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Stripe'"  name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Paypal'" name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <!-- <button type="submit" class="btn-solid btn" [disabled]="!checkoutForm.valid" (click)="stripeCheckout(orderId,customerEmail)" *ngIf="payment == 'Stripe'">
                                           Place Order
                                        </button> -->
                                        <!-- <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>