<section class="container mt-5">
  <h2>Kayıtlı Kartlar</h2>
  <div class="row">
    <div class="col-lg-4 mb-4" *ngFor="let card of registeredCards">
      <div class="card">
        <img [src]="card.image" class="card-img-top" alt="{{ card.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ card.cardName }}</h5>
          <p class="card-text">{{ card.cardHolderName }}</p>
          <p class="card-text">{{ card.cardNumber }}</p>
          <p class="card-text">{{ card.expirationDate }}</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="selectedCard"
              id="{{ card.cardName }}"
              [checked]="selectedCard && selectedCard.cardName === card.cardName"
              (change)="saveSelectedCard(card)"
            >
            <label class="form-check-label" for="{{ card.cardName }}">Seçili Kart yap</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
