<div class="icon-nav">
  <ul>
    <li class="onhover-div mobile-search search-widgets" id="search-widgets">
      <div (click)="searchToggle()">
        <img src="assets/images/icon/search.png" class="img-fluid" alt="" />
        <i class="ti-search"></i>
      </div>
      <div id="search-overlay" class="search-overlay" [ngStyle]="{ display: search ? 'block' : 'none' }">
        <div>
          <span class="closebtn" title="Close Overlay" (click)="searchToggle()">×</span>
          <div class="overlay-content">
            <div class="container">
              <div class="row">
                <div class="col-xl-12">
                  <form [formGroup]="searchForm" (ngSubmit)="searchProduct()">
                    <div class="form-group">
                      <input formControlName="search" type="text" class="form-control" id="exampleInputPassword1"
                        placeholder="Search" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                </div>
                <br />
                <div class="col-xl-12 mt-4">
                  <div class="row" *ngIf="!noProductsFound && products">
                    <div class="col-xl-3" *ngFor="let item of products">
                      <div class="card" [routerLink]="['/shop/product/', item.slug]">
                        <img src="{{ item.images[0].url }}" class="card-img-top" alt="Ürün Resmi 1" />
                        <div class="card-body">
                          <h5 class="card-title">{{ item.name }}</h5>
                          <p class="card-text">
                            Fiyat: {{ item.discountPrice }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound">Ürün bulunamadı</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!-- //Currency -->
    <!-- <li class="onhover-div mobile-setting">
      <div >
        <img  class="img-fluid flag-icon" alt="setting" /> 
        <h3>£</h3>
      </div>
      <div class="show-div setting">
        <h4 style="text-align: center;">currency</h4>
        <ul>
          <li *ngFor="let currency of currencies">
            <a href="javascript:void(0)" (click)="changeCurrency(currency)">
              {{ currency.name }}
            </a>
          </li>
        </ul>
      
      </div>
    </li> -->
    <!-- // language -->
    <li class="onhover-div mobile-setting">
      <div>
        <img [src]="getFlagForCurrentLanguage()" class="img-fluid flag-icon" alt="setting" />
        <i class="ti-settings"></i>
      </div>
      <div class="show-div setting">
        <h4 style="text-align: center">language</h4>
        <ul>
          <li *ngFor="let language of languages">
            <a id="translatebtn" href="javascript:void(0)" (click)="changeLanguage(language.code); send()">
              <img [src]="language.flag" class="img-fluid flag-icon" alt="{{ language.name }}" />
              {{ language.name }}
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="onhover-div mobile-cart">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="" />
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
      <ul class="show-div shopping-cart" *ngIf="!products.length">
        <h5>Your cart is currently empty.</h5>
      </ul>
      <ul class="show-div shopping-cart" *ngIf="products.length">
        <li *ngFor="let product of products">
          <div class="media">
            <a [routerLink]="['/shop/product/', product.name]">
              <img class="me-3" [src]="product?.images[0].url" [alt]="product?.images[0].url" />
            </a>
            <div class="media-body">
              <a [routerLink]="['/shop/product/', product.name]">
                <h4>{{ product?.name }}</h4>
              </a>
              <h4>
                <span>
                  {{ product?.quantity }} x
                  {{ product?.originalPrice }}
                </span>
              </h4>
            </div>
          </div>
          <div class="close-circle" (click)="removeItem(product)">
            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>
              subtotal : <span>{{ getTotal | async | currency }}</span>
            </h5>
          </div>
        </li>
        <li>
          <div class="buttons">
            <a [routerLink]="['/shop/cart']" class="view-cart">view cart</a>
            <a [routerLink]="['/shop/checkout']" class="checkout">checkout</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>