
.media {
  display: flex;
  @media (max-width: 480px) {
    display: block;
    text-align: center;
  }
}

.comment-section {
  border-bottom: none !important;

  li {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #dddddd;
    @media (max-width: 480px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    h6 {
      color: #444444;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5px;
      @media (max-width: 480px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      span {
        font-size: 13px;
        font-weight: 500;
        text-transform: capitalize;
        color: #777777;
        margin-left: 20px;
        @media (max-width: 480px) {
          display: inherit;
          margin-left: 0;
        }
      }
    }
    p {
      line-height: 1.8;
      margin-bottom: -4px;
      letter-spacing: 0.09em;
      @media (max-width: 480px) {
        p {
          line-height: 1.5;
        }
      }
    }
    img.avatar {
      height: 65px;
      width: 65px;
      margin-right: 20px;
      border-radius: 100%;
      @media (max-width: 480px) {
        margin-right: 0;
      }
    }
  }
  li {
    &:first-child {
      border-top: none;
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}
.comnt-sec {
  margin-top: 10px;
  li {
    margin-right: 15px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border-top: none !important;
    a {
      color: #777777;
      font-size: 16px;
      i {
        margin-right: 5px;
      }
    }
  }
}
